<footer class="bg-gray-800 text-white py-8">
    <div class="text-center mb-4">
        <input class="p-2 rounded" placeholder="YOUR EMAIL" type="email" />
        <button class="bg-blue-500 text-white px-4 py-2 rounded">
            Subscribe
        </button>
    </div>
    <nav class="text-center space-x-4 mb-4">
        <a class="hover:underline" href="#">
            Home
        </a>
        <a class="hover:underline" href="#">
            Contact
        </a>
        <a class="hover:underline" href="#">
            About
        </a>
        <a class="hover:underline" href="#">
            Products
        </a>
    </nav>
    <div class="text-center">
        <i class="fas fa-facebook-f mx-2">
        </i>
        <i class="fas fa-twitter mx-2">
        </i>
        <i class="fas fa-instagram mx-2">
        </i>
        <i class="fas fa-pinterest mx-2">
        </i>
    </div>
    <div class="space-x-4 text-center">
        <i class="fab fa-facebook-f">
        </i>
        <i class="fab fa-twitter">
        </i>
        <i class="fab fa-instagram">
        </i>
        <i class="fab fa-linkedin-in">
        </i>
    </div>
</footer>