<link rel="stylesheet" href="/css/user/Nav.css">
<div class="navbar ">
    <header class="navHeader w-full p-4 flex justify-between items-center text-white">
        <div><img class="w-[120px] h-auto" src="/images/Craftora_logo.png" alt="brand icon"></div>
        <div class="flex items-center space-x-4">
            <form id="searchForm" class="flex items-center">
                <input 
                    name="search" 
                    id="searchInput"
                    class="px-4 py-2 text-orange-500 rounded-full" 
                    placeholder="Search for products..." 
                    type="search" oninput="searchProducts()"
                />
                <button type="submit" class="bg-white text-pink-500 px-3 py-1 rounded-full">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>               
        <div class="flex space-x-4">
            <% if (!session || typeof session==='undefined' || session === 'Guest' ){ %>
                <a class="hover:underline" href="/user/login"><button class="glass_btn text-white-500 px-2 py-1 rounded-full">Sign Up</button></a>
                <a class="hover:underline" href="/user/login"><button class="glass_btn text-white-500 px-2 py-1 rounded-full">Sign In</button></a>
            <% } else{ %>
                <div class="text-white space-x-2">
                    <a href="/user/cart"><i class="fas fa-question-circle"></i></a>
                    <a href="/user/wishlist"><i class="fas fa-heart"></i></a>
                    <a href="/user/cart"><i class="fas fa-shopping-cart"></i></a>
                    <a href="/user/profile"><i class="fas fa-user"></i></a>
                </div>
                <a class="flex items-center text-gray-600 hover:bg-gray-200 rounded-md" href="/user/logout">
                    <button class="bg-white text-orange-500 px-2 py-1 rounded-full"><i class="fas fa-sign-out-alt mr-3"></i>Log out</button>
                    </a>
            <% } %>
        </div>
    </header>
    <!-- Navigation -->
    <nav class="w-full bg-orange-400 p-2 flex justify-center space-x-8">
        <a class="hover:underline" href="/user/home">Home</a>
        <a class="hover:underline" href="/user/products">Products</a>
        <a class="hover:underline" href="#about">About</a>
        <a class="hover:underline" href="#contact">Contact </a>
    </nav>
</div>